<!DOCTYPE html>
<html>
  <head>
    <title>TheGossipProject</title>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tag %>
    <link rel="stylesheet" href="//cdn.rawgit.com/yegor256/tacit/gh-pages/tacit-css-1.1.1.min.css"/>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
